/* Szablon */
.height-max{
  height:100%;
}

.width-max{
  width:100%;
}

.no-padding{
  padding:0 !important;
}

img.full-width{
  width:100%;
}

/* Eof Szablon */

body {
           
}

.navbar {
  margin-bottom: 0px;
}

.custom-navbar-bottom.affix {
  position: fixed;
  top: 0;
  bottom:auto !important;
  width: 100%;  
}

.custom-navbar-bottom {
  bottom: 0;
  position: absolute;
  top: auto;
  width: 100%;
  z-index:10;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.full{
  width:100%;
  height:auto;
}

.square {
  float:left;
  position: relative;
  width: 50%;
  padding-bottom: 50%; /* = width for a 1:1 aspect ratio */  
  overflow:hidden;  
}

.padding-top{
  padding-top:50px;
}

.padding-bottom{
  padding-bottom:50px;
}

.unit{
  height:50vh;
}

.overlay{
  background-position: right center;  
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index:1;    
}

.overlay-loop{
  background-position: right center;  
  background-repeat:repeat;
  background-size: auto auto;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index:1;    
}
.image{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  right:0;
  top:0;
  width:100%;  
}

.parallax-fixed{
  background-attachment:fixed;
  background-size:cover;
  position:static;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden
}

.image-no-fullwidth:not(.parallax){
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}           

.image-no-fullwidth.parallax{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-no-fullwidth.parallax-fixed{
  background-attachment:fixed;
  background-position: initial !important;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

.parallax-intro{
  background-position:center top
}

.relative{
  position:relative;
}

.absolute{
  position:absolute;
}

.content {
  position:absolute;
  height:100%;
  width:100%;
  z-index:2;  
}

.table{
  display:table;
  width:100%;
  height:100%;
}
.table-cell{
  display:table-cell;
  vertical-align:middle;
}

.middle,
.top,
.bottom{
  display:table;
  width: 100%;
  height: 100%;
}
.middle .content,
.top .content,
.bottom .content{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
  position:relative;
  z-index:1;  
}
.top .content{
  vertical-align: top;  
}
.bottom .content{
  vertical-align: bottom;  
}

/* SQUARE BOX */
.square-box:before{
  padding-top:100%;
  content:"";
  display:block;
}

.square-box{
  padding:0;
  position:relative;
}

.square-box.image{
  width:initial;
}

.square-box-inner{
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  padding:2%;
}

/* CAROUSEL */
.carousel,
.carousel-inner{
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
}

.static-content-inner{
  position:absolute;
  z-index:9;
}

.carousel-control{
  z-index:5;
}
/* CAROUSEL */

/* TEMPLATE CODES */
.template-square-2col-ca-c .container-fluid,
.template-square-2col-c-ca .container-fluid,
.template-square-2col-i-c .container-fluid,
.template-square-2col-c-i .container-fluid{
  padding:0;
}

.no-title-underline .page-header{
  border: 0 none !important;
  padding-bottom: 0;
}
/* TEMPLATE CODES */

/* WP CODES */

.alignright{
  float:right;
}

.alignleft{
  float:left;
}

.aligncenter:not(table){
  margin:0 auto;
  display:block;
}

table.aligncenter{
  margin:0 auto;
  display:table;
}

/* WP GALLERY */
.gallery .gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  float: left !important;
  margin: 0px !important;  
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: border-box;
}
.gallery .gallery-item .gallery-icon {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 500ms ease;
}
.gallery .gallery-item .gallery-icon img {
  transition: all 500ms ease;
  border: 0 !important;
  width: auto !important;
  height: auto !important;
  display: block !important;
  max-height: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}
.gallery .gallery-item .gallery-caption {
  transition: all 500ms ease;
  box-sizing: border-box;
  opacity: 1;
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #fff;
  z-index: -1;
}
.gallery .gallery-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.gallery .gallery-item:hover .gallery-icon {
  opacity: 0.3;
}
.gallery .gallery-item:hover .gallery-icon img {
  transform: scale(1.1);
}
/* Eof WP GALLERY */

@media only screen and (max-width:992px){
  .image-no-fullwidth.parallax-fixed{
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local; 
  }
}

@media only screen and (max-width:768px){
  .custom-navbar-bottom.affix-top{
    top:0 !important;
    bottom:auto  !important;
    position:fixed;
  }  
}